
html, body {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
	overflow: hidden;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
}

#content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -340px;
	width: 680px;
	height: 480px;
}

#left {
	width: 200px;
	height: 480px;
	float: left;
}

#game {
	width: 480px;
	height: 480px;
	float: left;
}

#canvas {
	width: 480px;
	height: 480px;
	background: url(bg.png);
}
