
body {
	background: #EEEEEE;
	-moz-user-select: none;
}

#content {
	width: 480px;
	margin: 10px auto;
}

#game {
	
}

#score {
	
}

#canvas {
	width: 480px;
	height: 480px;
	background: url(bg.png);
}